<div class="container">
    <div class="col s12">
        <div class="text-center">
            <h1>Saved Articles</h1>
        </div>

    </div>
    <div class="col s12">
        {{#if article}}
        {{#each article}}
        <div class="card-panel">
            <div class="card-title">
                <h4>{{this.title}}</h4>
            </div>
            <div class="card-body">
                <p> {{this.preview}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br><br>
                <a type="button" class="btn addNote modal-trigger" href="#noteModal{{this._id}}">View Notes</a>
                <button type="button" class="btn delete" data-id={{this._id}}>Delete</button>

            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="card-panel">
            <div class="card-body">
                <h4>No Saved Articles xD</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{#each article}}
    {{> notes }}
{{/each}}

